* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    margin: 0 auto;
}

.content h1 {
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .content {
        max-width: 1200px;
        margin: 0 auto;
    }
} 