* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    .content {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.page-control {
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #ffff;
    padding: 1rem 0;
    margin: 0;
}

.page-control li {
    margin: 0 2rem;
    padding: .5rem .75rem;
    border: 2px solid black;
    border-radius: 5rem;
}

.page-control li.clicked {
    background-color: black;
    color: white;
}